#header{
    display: flex;
    flex-direction: column;
    background-color: #504f4f;
    align-items: center;
}

#logo{
    color: #fff;
    font-size: 40px;
    padding: 25px;
    font-weight: bold;
}

#logo span{
    color: #ff;
}

#btt_menu{
    display: none;
}

label[for="btt_menu"]{
    display: none;
    position: absolute;
    padding: 10px;
    color:#fff;
    font-size: 50px;
    cursor: pointer;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #504f4f;
}

li{
    float: left;
}

li a, .drop_btt{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

li:hover, .dropdown:hover, .drop_btt:hover{
    background-color: #dad2d2;
}

.dropdown_content{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 160px;
}

.dropdown_content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown_content a:hover{
    background-color: #cacaca;
}

.dropdown:hover .dropdown_content{
    display: block;
}

@media screen and (max-width: 800px){
    #header{
        text-align: center;
    }

    label [for="btt_menu"]{
        display: block;
    }

    #nav{
        display: none;
    }

    #nav li{
        float: none;
        text-align: center;
    }

    #nav .dropdown_content{
        position: relative;
    }

    #nav .dropdown_content a{
        text-align: center;
    }

    #btt_menu:checked ~ #nav{
        display: block;
    }
}

@media(max-width: 425px){
    #logo{
        font-size: 25px;
        }

    label[for="btt_menu"]{
        font-size: 40px;
    }
    
}